<div style="margin: 50px 100px">
	<a href="{% url 'blog:post-list' %}"> Revenir à la liste </a>
	<form method="post">
		{% csrf_token %} {{ form.as_p }}
		<input type="submit" value="Valider" />
	</form>
</div>
