<div style="margin: 50px 100px">
	<h1>{{ post.title }}</h1>

	{% if post.author %}
	<p>Article rédigé par {{ post.author.name }}</p>
	{% endif %}

	<dl>
		<dt>Description</dt>
		<dd>{{ post.description }}</dd>
	</dl>

	<a href="{% url 'blog:post-list' %}"> Revenir à la liste </a>
</div>
