<dl style="margin: 50px 100px">
	{% if object_list %} {% for post in object_list %}
	<li>
		<a href="{% url 'blog:post-detail' post.pk %}"> {{ post.title }} </a>
	</li>
	{% endfor %} {% else %}
	<p>Aucun article!</p>
	{% endif %}
	<div>
		<a href="{% url 'blog:post-create' %}"> Proposer un article </a>
	</div>
</dl>
